# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        ic2:reinforced_door
        sonarcore:reinforcedstonegate
        sonarcore:reinforcedstonebrickgate
        sonarcore:reinforceddirtgate
        sonarcore:reinforceddirtbrickgate
        advgenerators:control
        railcraft:detector
        railcraft:force_track_emitter
        railcraft:admin_steam_producer
        railcraft:track_elevator
        randomthings:onlinedetector
        randomthings:chatdetector
        randomthings:contactbutton
        randomthings:contactlever
        randomthings:slimecube
        randomthings:globalchatdetector
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        advancedrocketry:airlock_door
        advancedrocketry:oxygendetection
        securitycraft:laser_block
        securitycraft:keypad
        securitycraft:retinal_scanner
        securitycraft:iron_door_reinforced
        securitycraft:keycard_reader
        securitycraft:portable_radar
        securitycraft:reinforced_fence_gate
        securitycraft:panic_button
        securitycraft:security_camera
        securitycraft:scanner_door
        securitycraft:reinforced_stone_pressure_plate
        securitycraft:reinforced_wooden_pressure_plate
        securitycraft:reinforced_observer
        securitycraft:reinforced_stone_button
        securitycraft:reinforced_wooden_button
        securitycraft:reinforced_lever
        thaumcraft:activator_rail
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        tconstruct:slime_channel
        quark:redstone_randomizer
        quark:iron_button
        quark:gold_button
        quark:redstone_inductor
        quark:obsidian_pressure_plate
        quark:nether_brick_fence_gate
        quark:spruce_pressure_plate
        quark:birch_pressure_plate
        quark:jungle_pressure_plate
        quark:acacia_pressure_plate
        quark:dark_oak_pressure_plate
        quark:spruce_button
        quark:birch_button
        quark:jungle_button
        quark:acacia_button
        quark:dark_oak_button
        bloodmagic:altar
        botania:manadetector
        botania:endereyeblock
        botania:starfield
        botania:brewery
        botania:redstringdispenser
        botania:prism
        botania:corporeafunnel
        botania:corporeainterceptor
        botania:hourglass
        botania:sparkchanger
        botania:lightrelay
        botania:lightlauncher
        botania:cacophoniumblock
        botania:redstringinterceptor
        botania:corporearetainer
        cookingforblockheads:oven
        darkutils:update_detector
        darkutils:sneaky_lever
        darkutils:sneaky_plate
        darkutils:sneaky_button
        darkutils:timer
        fossil:palm_fence_gate
        fossil:palm_door
        fossil:calamites_fence_gate
        fossil:calamites_door
        fossil:sigillaria_fence_gate
        fossil:sigillaria_door
        fossil:cordaites_fence_gate
        fossil:cordaites_door
        integrateddynamics:menril_door
        natura:overworld_door_eucalyptus
        natura:overworld_door_hopseed
        natura:overworld_door_sakura
        natura:overworld_door_redwood
        natura:overworld_door_redwood_bark
        natura:overworld_door_tiger
        natura:overworld_door_maple
        natura:overworld_door_silverbell
        natura:nether_door_ghostwood
        natura:nether_door_bloodwood
        natura:nether_door_darkwood
        natura:nether_door_fusewood
        natura:nether_lever
        natura:nether_button
        natura:nether_pressure_plate
        natura:blaze_rail_golden
        natura:blaze_rail_activator
        natura:blaze_rail_detector
        natura:maple_button
        natura:maple_pressure_plate
        natura:maple_fence_gate
        natura:silverbell_button
        natura:silverbell_pressure_plate
        natura:silverbell_fence_gate
        natura:amaranth_button
        natura:amaranth_pressure_plate
        natura:amaranth_fence_gate
        natura:tiger_button
        natura:tiger_pressure_plate
        natura:tiger_fence_gate
        natura:willow_button
        natura:willow_pressure_plate
        natura:willow_fence_gate
        natura:eucalyptus_button
        natura:eucalyptus_pressure_plate
        natura:eucalyptus_fence_gate
        natura:hopseed_button
        natura:hopseed_pressure_plate
        natura:hopseed_fence_gate
        natura:sakura_button
        natura:sakura_pressure_plate
        natura:sakura_fence_gate
        natura:redwood_button
        natura:redwood_pressure_plate
        natura:redwood_fence_gate
        natura:ghostwood_button
        natura:ghostwood_pressure_plate
        natura:ghostwood_fence_gate
        natura:bloodwood_button
        natura:bloodwood_pressure_plate
        natura:bloodwood_fence_gate
        natura:fusewood_button
        natura:fusewood_pressure_plate
        natura:fusewood_fence_gate
        natura:darkwood_button
        natura:darkwood_pressure_plate
        natura:darkwood_fence_gate
        mob_grinding_utils:fan
        mob_grinding_utils:saw
        mob_grinding_utils:xp_tap
        storagedrawers:keybutton
        varodd:world_guard
        jurassicraft:calamites_fence_gate
        jurassicraft:phoenix_door
        jurassicraft:araucaria_door
        jurassicraft:phoenix_fence_gate
        jurassicraft:araucaria_fence_gate
        jurassicraft:psaronius_fence_gate
        jurassicraft:ginkgo_fence_gate
        jurassicraft:calamites_door
        jurassicraft:ginkgo_door
        jurassicraft:psaronius_door
        abyssalcraft:dsbutton
        abyssalcraft:dspplate
        abyssalcraft:dltbutton
        abyssalcraft:dltpplate
        abyssalcraft:abybutton
        abyssalcraft:abypplate
        abyssalcraft:cstonebutton
        abyssalcraft:cstonepplate
        abyssalcraft:door_dlt
        abyssalcraft:door_drt
        agricraft:water_pad
        agricraft:water_channel_valve
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:clock
        cyclicmagic:target
        cyclicmagic:password_block
        refinedstorage:detector
        davincisvessels:crate_wood
        blockcraftery:editable_door
        blockcraftery:editable_door_reinforced
        blockcraftery:editable_pressure_plate_all
        blockcraftery:editable_pressure_plate_items
        blockcraftery:editable_pressure_plate_mobs
        blockcraftery:editable_pressure_plate_player
        blockcraftery:editable_pressure_plate_all_reinforced
        blockcraftery:editable_pressure_plate_items_reinforced
        blockcraftery:editable_pressure_plate_mobs_reinforced
        blockcraftery:editable_pressure_plate_player_reinforced
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


